<?xml version="1.0"?>

<model>
  <name>qball</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Yeison Gutiérrez</name>
    <email>yeegutierrezm@correo.udistrital.edu.co</email>
    <name>Carlos Marín</name>
    <email>caamarinb@correo.udistrital.edu.co</email>    
  </author>

  <description>
    Tesis de Grado - Ingeniería Electrónica
  </description>
</model>
