<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="paused" default="true" />
  <include 
    file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name"  value="$(find qball)/worlds/Mundo.world"/>  
    <arg name="paused" value="$(arg paused)"/>
  </include>

	<!--node pkg="qball" type="Publisher.py" name="Publisher" output="screen"/-->
	<node pkg="qball" type="Subscriber.py" name="Subscriber" output="screen"/>

</launch>
